# Object files
lib/*

# Executables
stm8gal*
binaries/*

# Doxygen output
doxygen/html/*
doxygen/latex/*
doxygen/man/*
doxygen/rtf/*
doxygen/xml/*

# Testing data
testing/*

# VSCode & PlatformIO files
.vscode/*
.pio/*
.pioenvs
.piolibdeps

